@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family: 'Nanum Gothic', serif;
}

.wrap{
    width: 100%;
    max-width: 100%;
}

.content-area{
    margin: 16px;
}

select, option {
    width: 100%;
}

.usercard{
    padding: 32px;
    max-width: 500px;
}

.largecard{
    padding: 32px;
}

/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon{
  display: none;
}

.comment{
    padding: 16px;
    background-color: #d9d9d9;
}

paper-input-decorator{
    text-align: left;
}

#unverifiedemail{
    font-style: bold;
}